/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Games */
.games-head{
    font-size: 3vh;
    font-family: 'Georama', sans-serif;
    font-weight: 600;
}